<div class=" player-insert">
    Player {{number}} insert:
    <div class="player-name">
        Player Name: 
        <input type="text">
    </div>
    <div class="player-faction">
        Player Faction Name: 
        <input type="text">
    </div>
    <div class="player-board">
        Player Board Name: 
        <input type="text">
    </div>
    <div class="player-coins">
        Player Coins: 
        <input type="text">
    </div>
    <div class="player-popularity">
        Player Popularity (0-18): 
        <input type="text">
    </div>
    <div class="player-stars">
        Player Stars (0-6): 
        <input type="text">
    </div>
    <div class="player-tiles">
        Player Tiles: 
        <input type="text">
    </div>
    <div class="player-resources">
        Player Resources: 
        <input type="text">
    </div>
</div>