<div class="page-title">Game Setups:</div>
<table>
    <tr>
        <th>Setup ID</th>
        <th>Expansions Used</th>
        <th>Board Used</th>
        <th>Build Score Tile</th>
        <th class="delete">Delete</th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th class="delete-row"><button type="button">Delete</button></th>

    </tr>
   <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th class="delete-row"><button type="button">Delete</button></th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th class="delete-row"><button type="button">Delete</button></th>
    </tr>
</table>