<div class="page-title">Game Setups:</div>
<table>
    <tr>
        <th>Setup ID</th>
        <th>Expansions Used</th>
        <th>Board Used</th>
        <th>Build Score Tile</th>
        <th id="delete">Delete</th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th id="delete-row">Delete</th>

    </tr>
   <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th id="delete-row">Delete</th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th id="delete-row">Delete</th>
    </tr>
</table>