<div class="page-title">Game Setups:</div>
<table>
    <tr>
        <th>Setup ID</th>
        <th>Expasions Used</th>
        <th>Board Used</th>
        <th>Build Score Tile</th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
   <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
</table>