<html>
<head>
    <title>Faction Statistics</title>
    <script src="/faction.js" charset="utf-8" defer></script>
</head>
<body>
    <div class="page-title">All Factions Played:</div>
    <table class="faction-table">
        <thead>
            <tr>
                <th>Faction ID</th>
                <th>Player ID</th>
                <th>Game ID</th>
                <th>Player Name</th>
                <th>Faction Name</th>
                <th>Player Board</th>
                <th>Coins</th>
                <th>Popularity</th>
                <th>Stars</th>
                <th>Tiles Controlled</th>
                <th>Resources</th>
                <th class="delete">Delete</th>
            </tr>
        </thead>
        <tbody id="factionTableBody">
            {{!-- faction rows will be dynamically added here --}}
        </tbody>
    </table>
</body>
</html>