<div class="page-title">All Factions Played:</div>
<table>
    <tr>
        <th>Faction ID</th>
        <th>Player ID</th>
        <th>Game ID</th>
        <th>Faction Name</th>
        <th>Player Board</th>
        <th>Coins</th>
        <th>Popularity</th>        
        <th>Stars</th>
        <th>Tiles Controlled</th>
        <th>Popularity</th>
        <th>Resources</th>


    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>

    </tr>
   <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
</table>