<div class="page-title">Game Results:</div>
<table>
    <tr>
        <th>Game ID</th>
        <th>Setup ID</th>
        <th>Winning Player</th>
        <th>Players</th>
        <th>Date Played</th>
        <th id="delete">Delete</th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th id="delete-row">Delete</th>
    </tr>
   <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th id="delete-row">Delete</th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th> </th>
        <th id="delete-row">Delete</th>
    </tr>
</table>