<a href="https://stonemaiergames.com/games/scythe/">
    <div class="page-title" >What is Scythe?</div>
</a>
<div id="overview">
Scythe is an engine building game where players control a faction leader in an attempt to gain popularity and control of land in Eastern Europe. Every game is different, with people taking different paths to claim victory. This database will store information from over 1000 different individual games of Scythe that people have played and track their results at the end of the game. Final scores are made up of your ending coins which is standardly between 40 and 100, resources you’ve collected during the game, tiles controlled from a board with 47 spaces, and popularity on a track from 0 to 18. All of this will be stored in a table from each of the thousands of players in the database. This data will be implemented on a website where people will be able to track the games they’ve played, access a scythe helper tool, and look at game statistics. This tool will help players to see trends between winning players and adapt their own strategies in future games. 
</div>