<div class="page-title">Add Game Results Below:</div>
<div class="insert-game-box">
    <div class="game-type">
        <div class="game-settings" id="game-date">
            Game Date:
            <input type="text">
        </div>
        <div class="game-settings" id="game-players">
            Player Count:
            <select id="insert-player-count">
                <option value="1">1 player</option>
                <option value="2">2 players</option>
                <option value="3">3 players</option>
                <option value="4">4 players</option>
                <option value="5">5 players</option>
                <option value="6">6 players</option>
                <option value="7">7 players</option>
            </select>
        </div>
        <div class="game-settings" id="game-expansions">
            Expansions Used:
            <select id="expansions" multiple>
                <option value="1">Invaders from Afar</option>
                <option value="2">The Wind Gambit</option>
                <option value="3">Scythe Encounters</option>
                <option value="4">Rise of Fenris</option>
            </select>
        </div>
        <div class="game-settings" id="game-board">
            Board Used:
            <select id="select-board-used">
                <option value="1">Standard</option>
                <option value="2">Modular</option>
            </select>
        </div>
        <div class="game-settings" id="buildscore-tile">
            Build Score Tile:
            <input type="text">
        </div>
    </div>
    <div id="player-enter">
        {{#each playerCount}}
            {{>addplayer number = playerNumber}}
        {{/each}}
    </div>

</div>
