<script src="/insert.js" charset="utf-8" defer></script>

<div class="page-title">Add Game Results Below:</div>
<div class="insert-game-box">
    <div class="game-type">
        <div class="game-settings" id="game-date">
            Game Date:
            <input type="text">
        </div>
        <div class="game-settings" id="game-players">
            Player Count:
            <select id="insert-player-count" onchange="updatePlayers()">
                <option value="1">1 player</option>
                <option value="2">2 players</option>
                <option value="3">3 players</option>
                <option value="4">4 players</option>
                <option value="5">5 players</option>
                <option value="6">6 players</option>
                <option value="7">7 players</option>
            </select>
        </div>
        <div class="game-settings" id="game-expansions">
            Expansions Used:
            <select id="expansions" multiple>
                <option value="1">Invaders from Afar</option>
                <option value="2">The Wind Gambit</option>
                <option value="3">Scythe Encounters</option>
                <option value="4">Rise of Fenris</option>
            </select>
        </div>
        <div class="game-settings" id="game-board">
            Board Used:
            <select id="select-board-used">
                <option value="1">Standard</option>
                <option value="2">Modular</option>
            </select>
        </div>
        <div class="game-settings" id="buildscore-tile">
            Build Score Tile:
            <input type="text">
        </div>
        <div class="game-settings">
            <button type="button" id="enter-game">Submit Game!</button>
        </div>
    </div>
    <div id="player-enter">
        <div id="player-1-insert" class="player-insert">Player 1 insert:
            <div id="player-1-name"> Player Name: <input id="player-1-text" type="text" id="player-1-name"><button id="toggle-player-1" type="button">NONE</button></div>
            <div class="player-faction">Player Faction Name: <input type="text" id="player-1-faction"></div>
            <div class="player-board">Player Board Name: <input type="text" id="player-1-board"></div>
            <div class="player-coins">Player Coins: <input type="text" id="player-1-coins"></div>
            <div class="player-popularity">Player Popularity (0-18): <input type="text" id="player-1-popularity"></div>
            <div class="player-stars">Player Stars (0-6): <input type="text" id="player-1-stars"></div>
            <div class="player-tiles">Player Tiles: <input type="text" id="player-1-tiles"></div>
            <div class="player-resources">Player Resources: <input type="text" id="player-1-resources"></div>
        </div>
    </div>

</div>
