<div class="page-title">Player win rates:</div>
<table>
    <tr>
        <th>Player ID</th>
        <th>Player Name</th>
        <th>Games Played</th>
        <th>Games Won</th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
   <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
    <tr>
        <th> - </th>
        <th> </th>
        <th> </th>
        <th> </th>
    </tr>
</table>